* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  width: 100%;
  background-color: #151b1e;
}
.interior {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.logo {
  padding: 5px 20px 0;
}
.logo img {
  height: 80px;
}
.logo img:hover {
  transform: scale(1.1);
}
.navegacion {
  display: flex;
  align-items: center;
  z-index: 1000;
  list-style: none;
  padding: 0 10px;
}

.navegacion li {
  display: inline-block;
  position: relative;
  transition: 0.3s linear;
  z-index: 1000;
}
.navegacion li:hover {
  transform: scale(1.1);
}
.navegacion li a {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 20px;
  transition: 0.3s linear;
}
.navegacion li a:hover {
  color: #007cb1;
  transform: scale(1.1);
}
.navegacion li a.active {
  color: #007cb1;
  transform: scale(1.1);
}

.bars {
  display: none;
  color: white;
  font-size: 2rem;
}
#menu {
  visibility: hidden;
}

@media (max-width: 904px) {
  .bars {
    display: initial;
  }
  .navegacion {
    display: none;
    flex-direction: column;
  }
  #menu:checked + .navegacion {
    display: flex;
  }
  .interior {
    display: flex;
    flex-direction: column;
  }
  .navegacion li {
    /* padding: y x; */
    padding: 1rem 0;
  }
}
