/*todos los elementos  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --item-width: 200px;
}
#contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--item-width), 250px));
  gap: 1rem;
  justify-content: center;
}

.item {
  display: flex;
  border: gray solid 1px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: black;
  transition: all 0.5s;
}
.item img {
  width: 188px;
}

.item-price {
  margin: 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.item:hover {
  border: white solid 1px;
  box-shadow: 0 0 6px gray;
}

#contenedor {
  min-height: 100vh;
}
