.loader,
.error {
  /*centra el circulo*/

  display: none; /*no se mira*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.visible {
  display: initial; /*se agraga a el loader desde js*/
}

/*div agregado desde js*/
.error p {
  font-size: 1.5rem;
}
.error img {
  width: 188px;
}
.circulo {
  /*circulo*/
  border-radius: 50%;
  border: 5px solid rgb(189, 189, 189);
  border-left: 5px solid blueviolet;
  width: 50px;
  height: 50px;
  animation: spin 0.75s infinite linear;
}

.loading {
  display: initial; /*reinicia la propiedad*/
}

@keyframes spin {
  0% {
    transform: rotate(360deg); /*grados*/
  }
}
